@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
    font-size: 40px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-container {
    flex-direction: column;
}

input[type="number"] {
    outline: none;
    border: 0px;
    border-bottom: 6px solid black;
}

button {
    background: white;
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: space-between;
}
